

body {

    font-family: cursive;
    background-color: #dfe6e9;
    min-height: 100vh;
    width: 100%;
}

.columns {

    display: flex;
    flex-wrap: wrap;
}
.columns .column {

    flex: 1 1 20rem;
}